[run]
branch = true
source =
    regulator
    tests
parallel = true

[paths]
source = 
    src/regulator
    */site-packages/regulator

[report]
show_missing = true
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
